<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <%products.forEach(product=>
            {%>
            <tr>
                <th>
                    <%= product._id %>
                </th>
                <td>
                    <%= product._name %>
                </td>
                <td>
                    <%= product._desc %>
                </td>
                <td scope="col">
                    <%= product._price %>
                </td>
                <td><img src="<%= product.imageurl %>"></td>
                <td>
                    <a href="/update-product/<%= product._id %>" class="btn btn-warning">Update Product</a>
                    <a href="" class="btn btn-danger">Delete Product</a>
                </td>
            </tr>
            <%})%>
    </tbody>
</table>