<h1 class="mt-5 mb-4 header">Update Product</h1>
<%if(errorMessage){%>
    <div class="alert alert-danger" role="alert">
        <%=errorMessage%>
    </div>
    <%}%>
        <form action="/update-product/" method="post">
            <input type="hidden" class="form-control" id="id" name="id" value="<%= product._id %>">
            <label for="name" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= product._name %>">
            <div class="mb-3">
                <label for="desc" class="form-label">Product Description</label>
                <textarea class="form-control" name="desc" id="desc" rows="3"><%= product._desc %>
                </textarea>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" id="price" name="price" value="<%= product._price %>">
            </div>
            <div class="mb-3">
                <label for="imageurl" class="form-label">image URL</label>
                <input type="text" class="form-control" id="imageurl" name="imageurl" value="<%= product.imageurl %>">
            </div>
            <button type="submit" class="btn btn-primary">Update Product</button>
        </form>